.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* if mobile : Make sure the toolbar will stay on top of the content as it scrolls past. */
    /*position: fixed;
    z-index: 2;
    */
  }
  
  .app-name {
    margin-left: 8px;
  }
  
  .sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    /* if mobile flex: 1 0 auto;*/
  }
  
  .spacer {
    flex: 1 1 auto;
  }


  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }